modules = ["nodejs-20", "python-3.11", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["lms", "undollar", "kubernetes"]

[[ports]]
localPort = 1455

[[ports]]
localPort = 3000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 4983
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 24678
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
